<!-- pokemon-modal-card.html -->

@if (pokemon()) {
<div
  class="fixed inset-0 bg-black/70 backdrop-blur-sm flex items-center justify-center z-50 p-2 sm:p-4 md:p-8"
  (click)="closeModal()"
>
  <div class="relative flex items-center w-full max-w-lg md:max-w-3xl lg:max-w-none lg:w-auto">
    <button
      (click)="goToPreviousPokemon($event)"
      class="absolute left-0 md:-left-12 text-white text-4xl font-bold z-10 hover:scale-110 transition disabled:opacity-25"
      [disabled]="!canGoToPrevious()"
    >
      &larr;
    </button>

    <div
      class="rounded-lg p-4 md:p-6 w-full mx-4 sm:mx-0 shadow-lg relative overflow-y-auto max-h-[90vh]"
      style="max-width: 950px"
      (click)="$event.stopPropagation()"
      [ngStyle]="{
        'background-color': pokemon() ? getColorForType(pokemon()!.types[0].type.name) : ''
      }"
    >
      <div class="relative text-center mb-4">
        <h2
          class="text-3xl font-bold capitalize"
          [ngStyle]="{ color: getTextColor(getColorForType(pokemon()!.types[0].type.name)) }"
        >
          {{ pokemon()!.name }}
        </h2>
        <p
          class="text-xl"
          [ngStyle]="{ color: getTextColor(getColorForType(pokemon()!.types[0].type.name)) }"
        >
          #{{ pokemon()!.id.toString().padStart(4, '0') }}
        </p>

        <div class="absolute top-0 right-0 flex gap-2">
          @for (typeInfo of pokemon()!.types; track typeInfo.type.name) {
          <span
            class="px-3 py-1 rounded-full font-medium capitalize shadow flex items-center gap-2"
            [ngStyle]="{
              'background-color': getColorForType(typeInfo.type.name),
              color: getTextColor(getColorForType(typeInfo.type.name))
            }"
          >
            <div class="rounded-full p-0.5">
              <img
                [src]="getTypeIcon(typeInfo.type.name)"
                [alt]="typeInfo.type.name"
                class="w-5 h-5"
              />
            </div>
            {{ typeInfo.type.name }}
          </span>
          }
        </div>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-6">
          <div class="flex flex-col items-center">
            <img
              [src]="spriteUrls[currentSpriteIndex]"
              alt="Image of {{ pokemon()!.name }}"
              class="w-48 h-48 object-contain"
            />
            <p class="text-sm text-gray-500 mt-2">Sprite Gallery</p>
          </div>
          <div class="w-full">
            <h4 class="text-lg font-semibold mb-2 text-gray-700 text-center">Base Stats</h4>
            <app-stats-chart [stats]="pokemon()!.stats"></app-stats-chart>
          </div>
        </div>

        <div class="flex flex-col">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6">
            <div>
              <h4 class="text-lg font-semibold mb-2 text-gray-700">Description</h4>
              <p class="text-gray-600 text-sm mb-4">{{ pokemon()!.description }}</p>

              <h4 class="text-lg font-semibold mb-2 text-gray-700">Attributes</h4>
              <div class="flex flex-wrap gap-2 justify-start mb-4">
                <span
                  class="px-3 py-1 rounded-full bg-white bg-opacity-50 text-gray-800 font-medium shadow"
                  >Height: {{ pokemon()!.height / 10 }} m</span
                >
                <span
                  class="px-3 py-1 rounded-full bg-white bg-opacity-50 text-gray-800 font-medium shadow"
                  >Weight: {{ pokemon()!.weight / 10 }} kg</span
                >
              </div>

              <h4 class="text-lg font-semibold mb-2 text-gray-700">Habitat</h4>
              @if (pokemon()!.habitat !== 'Desconocido') {
              <div>
                <span
                  class="px-3 py-1 rounded-full bg-white bg-opacity-50 font-medium capitalize shadow"
                  >{{ pokemon()!.habitat }}</span
                >
              </div>
              } @else {
              <p class="text-gray-500 text-sm">Unknown</p>
              }
            </div>
            <div>
              <h4 class="text-lg font-semibold mb-2 text-gray-700">Weaknesses</h4>
              <div class="flex flex-wrap gap-2 justify-start mb-4">
                @for (weakness of pokemon()!.weaknesses; track weakness) {
                <span
                  class="px-3 py-1 rounded-full font-medium capitalize shadow flex items-center gap-2 border-2"
                  [ngStyle]="{
                    'background-color': getColorForType(weakness),
                    'border-color': getColorForType(weakness),
                    color: getTextColor(getColorForType(weakness))
                  }"
                >
                  <img [src]="getTypeIcon(weakness)" [alt]="weakness" class="w-4 h-4" />
                  {{ weakness }}
                </span>
                }
              </div>

              <h4 class="text-lg font-semibold mb-2 text-gray-700">Abilities</h4>
              <div class="flex flex-wrap gap-2 justify-start mb-4">
                @for (abilityInfo of pokemon()!.abilities; track abilityInfo.ability.name) {
                <span
                  class="px-3 py-1 rounded-full bg-white bg-opacity-50 font-medium capitalize shadow"
                  >{{ abilityInfo.ability.name }}</span
                >
                }
              </div>
            </div>
          </div>

          @if (pokemon()!.evolutionChain && pokemon()!.evolutionChain!.length > 0) {
          <div class="mt-6 border-t pt-4">
            <h4 class="text-lg font-semibold mb-4 text-gray-700 text-center">Evolutions</h4>
            <div class="flex flex-wrap justify-center items-center gap-2 md:gap-4">
              @for (evo of pokemon()!.evolutionChain!; track evo.id; let isLast = $last) {
              <div
                class="flex flex-col items-center text-center cursor-pointer hover:scale-105 transition"
                (click)="onEvolutionClick(evo)"
              >
                <div
                  class="bg-gray-100 rounded-full transition-all duration-300"
                  [ngClass]="{
                    'p-2': pokemon()!.evolutionChain!.length <= 3,
                    'p-1': pokemon()!.evolutionChain!.length > 3
                  }"
                >
                  <img
                    [src]="
                      'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' +
                      evo.id +
                      '.png'
                    "
                    [alt]="evo.name"
                    class="transition-all duration-300"
                    [ngClass]="{
                      'w-16 h-25': pokemon()!.evolutionChain!.length <= 3,
                      'w-14 h-14': pokemon()!.evolutionChain!.length > 3
                    }"
                  />
                </div>
                <p
                  class="capitalize font-semibold mt-1"
                  [ngClass]="{
                    'text-base': pokemon()!.evolutionChain!.length <= 3,
                    'text-xs': pokemon()!.evolutionChain!.length > 3
                  }"
                >
                  {{ evo.name }}
                </p>
                <p
                  class="text-gray-500"
                  [ngClass]="{
                    'text-sm': pokemon()!.evolutionChain!.length <= 3,
                    'text-[10px]': pokemon()!.evolutionChain!.length > 3
                  }"
                >
                  #{{ evo.id.padStart(4, '0') }}
                </p>
              </div>
              @if (!isLast && pokemon()!.evolutionChain!.length <= 3) {
              <div class="text-2xl text-gray-400 mx-4">&rarr;</div>
              } }
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <button
      (click)="goToNextPokemon($event)"
      class="absolute right-0 md:-right-12 text-white text-4xl font-bold z-10 hover:scale-110 transition disabled:opacity-25"
      [disabled]="!canGoToNext()"
    >
      &rarr;
    </button>
  </div>
</div>
}

