<div *ngIf="isLoading" class="text-center my-8">
  <p class="text-xl text-gray-600">Cargando Pokémon...</p>
</div>

<div *ngIf="!isLoading && !error">
  <ul class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-7 gap-4 p-8">
    <li
      *ngFor="let pokemon of filteredPokemonList"
      class="shadow-md rounded-lg p-4 flex flex-col items-center cursor-pointer hover:opacity-80 hover:scale-105 transition"
      (click)="selectPokemon(pokemon)"
      [ngStyle]="{'background-color': getColorForType(pokemon.types[0].type.name)}"
    >
      <img
        [src]="pokemon.sprites.other?.['official-artwork']?.front_default || pokemon.sprites.front_default"
        alt="Imagen de {{ pokemon.name }}"
        class="w-24 h-24 object-contain mb-2"
      />
      <p class="capitalize font-semibold text-lg text-gray-800">{{ pokemon.name }}</p>
      <p class="text-gray-500">#{{ pokemon.id.toString().padStart(4, '0') }}</p>
    </li>
  </ul>

  <div *ngIf="!isSearching()" class="flex justify-center gap-4 my-4">
    <button (click)="onPreviousPage()" [disabled]="offset === 0 || isLoading" class="px-4 py-2 bg-yellow-400 text-white rounded shadow hover:bg-yellow-500 transition disabled:opacity-50 disabled:cursor-not-allowed">
      Anterior
    </button>
    <button
      (click)="onNextPage()"
      [disabled]="isLoading"
      class="px-4 py-2 bg-yellow-400 text-white rounded shadow hover:bg-yellow-500 transition disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Siguiente
    </button>
  </div>

<div *ngIf="selectedPokemon" class="fixed inset-0 bg-black/70 backdrop-blur-sm flex items-center justify-center z-50 p-2 sm:p-4 md:p-8" (click)="closeModal()">
  
  <div class="relative flex items-center w-full max-w-lg md:max-w-3xl lg:max-w-none lg:w-auto">
    
    <button 
      (click)="goToPreviousPokemon($event)" 
      class="absolute left-0 md:-left-12 text-white text-4xl font-bold z-10 hover:scale-110 transition disabled:opacity-25"
      [disabled]="!canGoToPrevious()"
    >
      &larr;
    </button>

    <div 
      class="rounded-lg p-4 md:p-6 w-full mx-4 sm:mx-0 shadow-lg relative overflow-y-auto max-h-[90vh]" 
      style="max-width: 950px;"
      (click)="$event.stopPropagation()"
      [ngStyle]="{'background-color': selectedPokemon ? getColorForType(selectedPokemon.types[0].type.name) : ''}"
    >
        <div class="relative text-center mb-4">
          <h2 
            class="text-3xl font-bold capitalize"
            [ngStyle]="{'color': getTextColor(getColorForType(selectedPokemon.types[0].type.name))}"
          >
            {{ selectedPokemon.name }}
          </h2>
          <p 
            class="text-xl"
            [ngStyle]="{'color': getTextColor(getColorForType(selectedPokemon.types[0].type.name))}"
          >
            #{{ selectedPokemon.id.toString().padStart(4, '0') }}
          </p>
          
          <div class="absolute top-0 right-0 flex gap-2">
            <span 
              *ngFor="let typeInfo of selectedPokemon.types"
              class="px-3 py-1 rounded-full font-medium capitalize shadow flex items-center gap-2"
              [ngStyle]="{
                'background-color': getColorForType(typeInfo.type.name),
                'color': getTextColor(getColorForType(typeInfo.type.name))
              }"
            >
              <div class="rounded-full p-0.5">
                <img [src]="getTypeIcon(typeInfo.type.name)" [alt]="typeInfo.type.name" class="w-5 h-5">
              </div>
              {{ typeInfo.type.name }}
            </span>
          </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-6">
            <div class="flex flex-col items-center">
              <img [src]="spriteUrls[currentSpriteIndex]" alt="Imagen de {{ selectedPokemon.name }}" class="w-48 h-48 object-contain" />
              <p class="text-sm text-gray-500 mt-2">Galería de Sprites</p>
            </div>
            <div class="w-full">
                <h4 class="text-lg font-semibold mb-2 text-gray-700 text-center">Estadísticas Base</h4>
                <app-stats-chart [stats]="selectedPokemon.stats"></app-stats-chart>
            </div>
          </div>

          <div class="flex flex-col">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6">
              <div>
                <h4 class="text-lg font-semibold mb-2 text-gray-700">Descripción</h4>
                <p class="text-gray-600 text-sm mb-4">{{ selectedPokemon.description }}</p>

                <h4 class="text-lg font-semibold mb-2 text-gray-700">Atributos</h4>
                <div class="flex flex-wrap gap-2 justify-start mb-4">
                  <span class="px-3 py-1 rounded-full bg-white bg-opacity-50 text-gray-800 font-medium shadow">Altura: {{ selectedPokemon.height / 10 }} m</span>
                  <span class="px-3 py-1 rounded-full bg-white bg-opacity-50 text-gray-800 font-medium shadow">Peso: {{ selectedPokemon.weight / 10 }} kg</span>
                </div>

                <h4 class="text-lg font-semibold mb-2 text-gray-700">Hábitat</h4>
                <div *ngIf="selectedPokemon.habitat !== 'Desconocido'; else unknownHabitat">
                  <span class="px-3 py-1 rounded-full bg-white bg-opacity-50 font-medium capitalize shadow">{{ selectedPokemon.habitat }}</span>
                </div>
                <ng-template #unknownHabitat><p class="text-gray-500 text-sm">Desconocido</p></ng-template>
              </div>
              <div>
                <h4 class="text-lg font-semibold mb-2 text-gray-700">Debilidades</h4>
                <div class="flex flex-wrap gap-2 justify-start mb-4">
                  <span 
                    *ngFor="let weakness of selectedPokemon.weaknesses"
                    class="px-3 py-1 rounded-full font-medium capitalize shadow flex items-center gap-2 border-2"
                    [ngStyle]="{
                      'background-color': getColorForType(weakness),
                      'border-color': getColorForType(weakness),
                      'color': getTextColor(getColorForType(weakness))
                    }"
                  >
                    <img 
                      [src]="getTypeIcon(weakness)" 
                      [alt]="weakness" 
                      class="w-4 h-4"
                    >
                    {{ weakness }}
                  </span>
                </div>

                <h4 class="text-lg font-semibold mb-2 text-gray-700">Habilidades</h4>
                <div class="flex flex-wrap gap-2 justify-start mb-4">
                  <span *ngFor="let abilityInfo of selectedPokemon.abilities" class="px-3 py-1 rounded-full bg-white bg-opacity-50 font-medium capitalize shadow">{{ abilityInfo.ability.name }}</span>
                </div>
              </div>
            </div>

            <div *ngIf="selectedPokemon.evolutionChain && selectedPokemon.evolutionChain.length > 0" class="mt-6 border-t pt-4">
              <h4 class="text-lg font-semibold mb-4 text-gray-700 text-center">Evoluciones</h4>
              <div class="flex flex-wrap justify-center items-center gap-2 md:gap-4">
                <ng-container *ngFor="let evo of selectedPokemon.evolutionChain; let isLast = last">
                  <div 
                    class="flex flex-col items-center text-center cursor-pointer hover:scale-105 transition"
                    (click)="selectPokemon(evo)"
                  >
                    <div 
                      class="bg-gray-100 rounded-full transition-all duration-300"
                      [ngClass]="{
                        'p-2': selectedPokemon.evolutionChain.length <= 3,
                        'p-1': selectedPokemon.evolutionChain.length > 3
                      }"
                    >
                      <img 
                        [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + evo.id + '.png'" 
                        [alt]="evo.name" 
                        class="transition-all duration-300"
                        [ngClass]="{
                          'w-16 h-25': selectedPokemon.evolutionChain.length <= 3,
                          'w-14 h-14': selectedPokemon.evolutionChain.length > 3
                        }"
                      >
                    </div>
                    <p class="capitalize font-semibold mt-1" [ngClass]="{'text-base': selectedPokemon.evolutionChain.length <= 3, 'text-xs': selectedPokemon.evolutionChain.length > 3}">{{ evo.name }}</p>
                    <p class="text-gray-500" [ngClass]="{'text-sm': selectedPokemon.evolutionChain.length <= 3, 'text-[10px]': selectedPokemon.evolutionChain.length > 3}">#{{ evo.id.padStart(4, '0') }}</p>
                  </div>
                  <div *ngIf="!isLast && selectedPokemon.evolutionChain && selectedPokemon.evolutionChain.length <= 3" class="text-2xl text-gray-400 mx-4">&rarr;</div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
    </div>

    <button 
      (click)="goToNextPokemon($event)" 
      class="absolute right-0 md:-right-12 text-white text-4xl font-bold z-10 hover:scale-110 transition disabled:opacity-25"
      [disabled]="!canGoToNext()"
    >
      &rarr;
    </button>
  </div>

}
